/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-image: url('2.jpg'); */

    background-repeat: no-repeat;
    background-size:100vh;

}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-repeat: no-repeat;
    background: linear-gradient(115deg, #6200ff, #f51818);
    
}

.container {
    max-width: 135vh;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.55);
    background-image: url('home.jpg');
    background-size: 137vh ;
    
   
    
    
}


.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #fff;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}



form input[type="radio"] {
    display: none;
}

form .button {
    
    height: 45px;
    margin: 35px 0px;
   
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(115deg, #ff3c00,#6200ff );
    align-items: center;
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(115deg, #6200ff, #ff3c00);
}

@media(max-width: 584px) {
    .container {
        background-size: 100% 100%;
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
   
}


h1 {
    color: #830000;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: #0b3c6d;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

i {
    color: #ff0000;
    font-size: 250px;
    line-height: 200px;
    margin-left: -15px;
}

.card {
    background: rgb(255, 230, 230);
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #000000;
    display: inline-block;
    margin: 0 auto;
}

